<div class="col-md-12" style="text-align: center;">
    <h1 class="text-danger">THÔNG BÁO!</h1>
    <h2 class="text-danger">Tài khoản không có quyền truy cập vào chức năng này. Vui lòng liên hệ quản trị hệ thống.</h2>
</div>