.comment_item .box-area-input {
    background: #fff;
    border-left: 0;
    border: 1px solid #e5e5e5
}

    .comment_item .box-area-input .block_input {
        background: #fff
    }
.count-reply{
    padding-left: 48px;
    margin-top: 22px;
}
.comment_item {
    margin-top: 16px;
    padding: 0;
    word-wrap: break-word
}

    .comment_item.hight_light {
        background: #f8f8f8
    }

    .comment_item p {
        padding-bottom: 0;
        font: 400 16px arial;
        line-height: 150%;
        color: #4f4f4f
    }

    .comment_item span.left.txt_666.txt_14 {
        font-size: 12px;
        padding: 5px 0 0;
        white-space: normal
    }

    .comment_item .continue-reading {
        text-decoration: underline;
        text-underline-position: under;
        color: #9f9f9f
    }

        .comment_item .continue-reading:hover {
            color: #C92A57
        }

    .comment_item .avata_coment {
        margin: 0 12px 0 0;
        float: left;
        width: 36px;
        height: 36px;
        background: #E5E5E5;
        line-height: 36px;
        text-align: center;
        color: #949494 !important;
        font-weight: 400;
        text-transform: uppercase;
        font-size: 18px !important;
        font-family: arial;
        border-radius: 50%;
        position: relative
    }

        .comment_item .avata_coment img {
            width: 36px;
            height: 36px;
            border-radius: 50%
        }

    .comment_item .block_like_web {
        float: left;
        text-align: left;
        padding: 0;
        font-size: 14px;
        position: relative;
        margin-top: 12px;
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        -webkit-box-align: center;
        -ms-flex-align: center;
        align-items: center
    }

        .comment_item .block_like_web a {
            font-size: 14px;
            color: #757575
        }

            .comment_item .block_like_web a .ic-reply {
                margin: -4px -2px 0 0;
                display: inline-block;
                vertical-align: middle
            }

        .comment_item .block_like_web .share_cmt_fb {
            position: relative;
            cursor: pointer;
            font-size: 14px;
            color: #9F9F9F;
            margin-right: 24px;
            display: none
        }

            .comment_item .block_like_web .share_cmt_fb .ic {
                font-size: 8px
            }

            .comment_item .block_like_web .share_cmt_fb .block_share_cmt_fb {
                position: absolute;
                top: 20px;
                left: 0;
                background: #FFFFFF;
                border: 1px solid #E5E5E5;
                -webkit-box-sizing: border-box;
                box-sizing: border-box;
                -webkit-box-shadow: 0px 2px 8px rgba(0,0,0,0.1);
                box-shadow: 0px 2px 8px rgba(0,0,0,0.1);
                border-radius: 3px
            }

                .comment_item .block_like_web .share_cmt_fb .block_share_cmt_fb a {
                    display: inline-block
                }

            .comment_item .block_like_web .share_cmt_fb:hover {
                color: #C92A57
            }

        .comment_item .block_like_web .block_share_cmt_fb {
            background: #fff;
            position: absolute;
            top: 26px;
            right: 0;
            text-align: center;
            width: 67px;
            z-index: 21
        }

            .comment_item .block_like_web .block_share_cmt_fb .item_social {
                float: left;
                margin: 0;
                line-height: 15px !important;
                border-radius: 0;
                padding: 8px;
                width: auto;
                height: auto;
                background: #fff !important
            }

                .comment_item .block_like_web .block_share_cmt_fb .item_social .ic {
                    display: inline-block !important;
                    margin-top: 0 !important
                }

                    .comment_item .block_like_web .block_share_cmt_fb .item_social .ic.ic-facebook {
                        width: 16px !important;
                        height: 16px !important;
                        background: url(images/graphics/Facebook-Normal.svg) no-repeat 0 0 !important
                    }

                    .comment_item .block_like_web .block_share_cmt_fb .item_social .ic.ic-twitter {
                        width: 16px !important;
                        height: 16px !important;
                        background: url(images/graphics/Twitter-Normal.svg) no-repeat 0 0 !important
                    }

                .comment_item .block_like_web .block_share_cmt_fb .item_social:hover .ic-facebook {
                    background: url(images/graphics/Facebook-Hover.svg) no-repeat 0 0 !important
                }

                .comment_item .block_like_web .block_share_cmt_fb .item_social:hover .ic-twitter {
                    background: url(images/graphics/Twitter-Hover.svg) no-repeat 0 0 !important
                }

        .comment_item .block_like_web .time-com {
            font-size: 14px;
            color: #9F9F9F;
            margin-left: auto
        }

    .comment_item a.link_thich {
        position: relative;
        padding-right: 0 !important;
        background: none !important;
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        -webkit-box-align: center;
        -ms-flex-align: center;
        align-items: center
    }

        .comment_item a.link_thich .ic {
            color: #9f224e;
            font-size: 12px
        }

        .comment_item a.link_thich .ic-like {
            width: 14px !important;
            height: 14px !important;
            background: url(images/graphics/Thumb-Up-Normal.svg) no-repeat 0 0 !important;
            vertical-align: middle;
            margin: -1px 4px 0 !important
        }

        .comment_item a.link_thich.unlike {
            color: #C92A57 !important
        }

            .comment_item a.link_thich.unlike .ic {
                color: #858585 !important;
                display: inline-block;
                vertical-align: middle;
                -webkit-filter: grayscale(0);
                filter: grayscale(0);
                opacity: 1
            }

            .comment_item a.link_thich.unlike .ic-like {
                width: 14px !important;
                height: 14px !important;
                background: url(images/graphics/Thumb-Up-Active.svg) no-repeat 0 0 !important;
                display: inline-block;
                vertical-align: middle;
                opacity: 1
            }

        .comment_item a.link_thich::after {
            content: none !important
        }

    .comment_item .input_comment {
        border: none
    }
.box_comment_vne {
    margin-bottom: 20px
}

.box_comment_vne, #box_comment {
    padding-bottom: 0 !important
}

.box_comment_vne .mb10, #box_comment .mb10 {
    margin-bottom: 0 !important
}

    .box_comment_vne .sub_comment, #box_comment .sub_comment {
        padding: 0 0 0 48px;
        width: 100%;
        position: relative;
        margin-top: 62px;
    }

.box_comment_vne .sub_comment .input_comment.reply_input_comment, #box_comment .sub_comment .input_comment.reply_input_comment {
    padding-left: 16px
}

.box_comment_vne .sub_comment .comment_item, #box_comment .sub_comment .comment_item {
    padding: 0 16px
}

.box_comment_vne .sub_comment .sub_comment_item, #box_comment .sub_comment .sub_comment_item {
    padding: 0 16px;
    margin-bottom: 0;
    border-top: none;

}


.box_comment_vne .sub_comment:before, #box_comment .sub_comment:before {
    content: '';
    background: #E5E5E5;
    width: 2px;
    height: calc(100% - 20px);
    position: absolute;
    top: 20px;
    left: 48px
}
.box_comment_vne .left {
    float: left !important
}

.box_comment_vne .right {
    float: right !important
}

.box_comment_vne .width_common {
    width: 100%;
    float: left
}
.box_comment_vne .comment_item .txt_view_more, #box_comment .comment_item .txt_view_more {
    text-align: right;
    margin: 0;
    padding-bottom: 10px;
    font-size: 11px
}

.box_comment_vne .comment_item .txt_view_more a, #box_comment .comment_item .txt_view_more a {
    text-decoration: underline !important
}

.box_comment_vne .reply_name, #box_comment .reply_name {
    color: #087CCE;
    font-style: normal
}

.box_comment_vne .view_more_coment, #box_comment .view_more_coment {
    width: 100%;
    float: left;
    height: 48px;
    text-align: center;
    position: relative;
    margin: 16px 0 0 0 !important
}

.box_comment_vne .view_more_coment::before, #box_comment .view_more_coment::before {
    display: none
}

.box_comment_vne .view_more_coment a, #box_comment .view_more_coment a {
    height: 48px;
    line-height: 48px;
    padding: 0 35px;
    font: 400 14px/48px "Merriweather",serif;
    color: #757575;
    text-align: center;
    display: inline-block;
    position: relative;
    background: #fff;
    border: 1px solid #BDBDBD;
    border-radius: 4px;
    width: 100%
}

.box_comment_vne .view_more_coment a:hover, #box_comment .view_more_coment a:hover {
    background: #F7F7F7
}

.box_comment_vne .comment_item .user_status .left.txt_11, #box_comment .comment_item .user_status .left.txt_11 {
    font-size: 12px;
    white-space: nowrap
}
.reactions-list {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    overscroll-behavior-y: contain;
    background: #FFFFFF;
    -webkit-box-shadow: 0px 2px 8px rgba(0,0,0,0.2);
    box-shadow: 0px 2px 8px rgba(0,0,0,0.2);
    border-radius: 32px;
    padding: 8px;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    -webkit-transition: padding-top 167ms ease-out, margin-top 167ms ease-out;
    transition: padding-top 167ms ease-out, margin-top 167ms ease-out
}

    .reactions-list .reaction-item {
        position: relative;
        display: inline-block;
        height: 32px;
        margin: 0 3px;
        -webkit-transition: margin 167ms ease-out, margin 167ms ease-out;
        transition: margin 167ms ease-out, margin 167ms ease-out
    }

        .reactions-list .reaction-item .reaction {
            cursor: pointer;
            width: 32px;
            height: 32px;
            background-size: cover;
            border: none;
            background-color: transparent;
            -webkit-transition: -webkit-transform 167ms ease-in;
            transition: -webkit-transform 167ms ease-in;
            transition: transform 167ms ease-in;
            transition: transform 167ms ease-in, -webkit-transform 167ms ease-in
        }

            .reactions-list .reaction-item .reaction[data-name="like"] {
                background-image: url("data:image/svg+xml;charset=UTF-8,%3csvg width='56' height='56' viewBox='0 0 56 56' fill='none' xmlns='http://www.w3.org/2000/svg'%3e%3cpath d='M25.76 3.35999C25.1431 3.35999 24.64 3.86311 24.64 4.47999V13.16L19.04 24.36V22.4C19.04 21.7831 18.5369 21.28 17.92 21.28H3.36002C3.04064 21.28 2.73439 21.4244 2.52002 21.665C2.30564 21.9056 2.20064 22.2206 2.24002 22.54L5.60002 49.42C5.67002 49.98 6.15564 50.4 6.72002 50.4H17.92C18.5369 50.4 19.04 49.9012 19.04 49.28V48.16H20.335C20.7988 49.4637 22.0588 50.4 23.52 50.4H44.8C47.2719 50.4 49.28 48.3919 49.28 45.92C49.28 44.9969 48.9869 44.1481 48.51 43.435C50.2556 42.8225 51.52 41.1512 51.52 39.2C51.52 38.1019 51.1263 37.1087 50.47 36.33C51.7694 35.5469 52.64 34.1075 52.64 32.48C52.64 31.3819 52.2463 30.3887 51.59 29.61C52.8894 28.8269 53.76 27.3875 53.76 25.76C53.76 23.2881 51.7519 21.28 49.28 21.28H32.9C33.5825 19.1187 34.72 15.2512 34.72 13.44C34.72 9.22249 31.6313 3.35999 28.595 3.35999H25.76ZM26.88 5.59999H28.595C29.6231 5.59999 32.48 9.49811 32.48 13.44C32.48 15.1944 30.9138 20.2519 30.31 22.05C30.1919 22.3912 30.24 22.7719 30.45 23.065C30.66 23.3581 31.0013 23.52 31.36 23.52H49.28C50.5138 23.52 51.52 24.5262 51.52 25.76C51.52 26.9937 50.5138 28 49.28 28H48.16C47.5388 28 47.04 28.4987 47.04 29.12C47.04 29.7412 47.5388 30.24 48.16 30.24C49.3938 30.24 50.4 31.2462 50.4 32.48C50.4 33.7137 49.3938 34.72 48.16 34.72H47.04C46.4188 34.72 45.92 35.2187 45.92 35.84C45.92 36.4612 46.4188 36.96 47.04 36.96C48.2738 36.96 49.28 37.9662 49.28 39.2C49.28 40.4337 48.2738 41.44 47.04 41.44H44.8C44.1788 41.44 43.68 41.9387 43.68 42.56C43.68 43.1812 44.1788 43.68 44.8 43.68C46.0338 43.68 47.04 44.6862 47.04 45.92C47.04 47.1537 46.0338 48.16 44.8 48.16H23.52C22.9031 48.16 22.4 47.6569 22.4 47.04C22.4 46.4187 21.8969 45.92 21.28 45.92H19.04V26.88H19.6C20.0244 26.88 20.4225 26.6306 20.615 26.25L26.775 13.93C26.8538 13.7769 26.88 13.615 26.88 13.44V5.59999ZM4.62002 23.52H16.8V48.16H7.70002L4.62002 23.52Z' fill='%234F4F4F'/%3e%3cpath d='M4.62 23.52H16.8V48.16H7.69999L4.62 23.52Z' fill='%23DF4670'/%3e%3cpath d='M26.8893 5.59369H28.6043C29.6324 5.59369 32.4893 9.49181 32.4893 13.4337C32.4893 15.1881 30.9231 20.2456 30.3193 22.0437C30.2012 22.3849 30.2493 22.7656 30.4593 23.0587C30.6693 23.3518 31.0106 23.5137 31.3693 23.5137H49.2893C50.5231 23.5137 51.5293 24.5199 51.5293 25.7537C51.5293 26.9874 50.5231 27.9937 49.2893 27.9937H48.1693C47.5481 27.9937 47.0493 28.4924 47.0493 29.1137C47.0493 29.7349 47.5481 30.2337 48.1693 30.2337C49.4031 30.2337 50.4093 31.2399 50.4093 32.4737C50.4093 33.7074 49.4031 34.7137 48.1693 34.7137H47.0493C46.4281 34.7137 45.9293 35.2124 45.9293 35.8337C45.9293 36.4549 46.4281 36.9537 47.0493 36.9537C48.2831 36.9537 49.2893 37.9599 49.2893 39.1937C49.2893 40.4274 48.2831 41.4337 47.0493 41.4337H44.8093C44.1881 41.4337 43.6893 41.9324 43.6893 42.5537C43.6893 43.1749 44.1881 43.6737 44.8093 43.6737C46.0431 43.6737 47.0493 44.6799 47.0493 45.9137C47.0493 47.1474 46.0431 48.1537 44.8093 48.1537H23.5293C22.9124 48.1537 22.4093 47.6506 22.4093 47.0337C22.4093 46.4124 21.9062 45.9137 21.2893 45.9137H19.0493V26.8737H19.6093C20.0337 26.8737 20.4318 26.6243 20.6243 26.2437L26.7843 13.9237C26.8631 13.7706 26.8893 13.6087 26.8893 13.4337V5.59369Z' fill='%23FBDCD2'/%3e%3c/svg%3e")
            }

            .reactions-list .reaction-item .reaction[data-name="fun"] {
                background-image: url("data:image/svg+xml;charset=UTF-8,%3csvg width='56' height='56' viewBox='0 0 56 56' fill='none' xmlns='http://www.w3.org/2000/svg'%3e%3cpath d='M18.4799 14.56C16.1528 14.56 14.5365 15.5857 13.6149 16.6097C12.6934 17.6336 12.3681 18.7184 12.3681 18.7184C12.3184 18.8612 12.2982 19.0125 12.3086 19.1633C12.319 19.3141 12.3598 19.4613 12.4286 19.5959C12.4974 19.7305 12.5927 19.8498 12.7088 19.9466C12.8249 20.0434 12.9594 20.1157 13.1042 20.1591C13.249 20.2025 13.4011 20.2162 13.5513 20.1993C13.7015 20.1824 13.8467 20.1353 13.9783 20.0608C14.1098 19.9863 14.2249 19.8859 14.3165 19.7657C14.4082 19.6455 14.4747 19.5081 14.5118 19.3615C14.5118 19.3615 14.6892 18.7663 15.2796 18.1103C15.8701 17.4543 16.7751 16.8 18.4799 16.8C20.1848 16.8 21.0898 17.4543 21.6803 18.1103C22.2707 18.7663 22.4481 19.3615 22.4481 19.3615C22.4852 19.5081 22.5517 19.6455 22.6433 19.7657C22.735 19.8859 22.8501 19.9863 22.9816 20.0608C23.1132 20.1353 23.2584 20.1824 23.4086 20.1993C23.5588 20.2162 23.7109 20.2025 23.8557 20.1591C24.0005 20.1157 24.135 20.0434 24.2511 19.9466C24.3672 19.8498 24.4625 19.7305 24.5313 19.5959C24.6001 19.4613 24.6409 19.3141 24.6513 19.1633C24.6617 19.0125 24.6415 18.8612 24.5918 18.7184C24.5918 18.7184 24.2665 17.6336 23.3449 16.6097C22.4234 15.5857 20.8071 14.56 18.4799 14.56ZM37.5199 14.56C35.1928 14.56 33.5765 15.5857 32.6549 16.6097C31.7334 17.6336 31.4081 18.7184 31.4081 18.7184C31.3584 18.8612 31.3382 19.0125 31.3486 19.1633C31.359 19.3141 31.3998 19.4613 31.4686 19.5959C31.5374 19.7305 31.6327 19.8498 31.7488 19.9466C31.8649 20.0434 31.9994 20.1157 32.1442 20.1591C32.289 20.2025 32.4411 20.2162 32.5913 20.1993C32.7415 20.1824 32.8867 20.1353 33.0183 20.0608C33.1498 19.9863 33.2648 19.8859 33.3565 19.7657C33.4482 19.6455 33.5147 19.5081 33.5518 19.3615C33.5518 19.3615 33.7292 18.7663 34.3196 18.1103C34.9101 17.4543 35.8151 16.8 37.5199 16.8C39.2248 16.8 40.1298 17.4543 40.7203 18.1103C41.3107 18.7663 41.4881 19.3615 41.4881 19.3615C41.5252 19.5081 41.5916 19.6455 41.6833 19.7657C41.775 19.8859 41.8901 19.9863 42.0216 20.0608C42.1531 20.1353 42.2984 20.1824 42.4486 20.1993C42.5988 20.2162 42.7509 20.2025 42.8957 20.1591C43.0405 20.1157 43.175 20.0434 43.2911 19.9466C43.4072 19.8498 43.5025 19.7305 43.5713 19.5959C43.6401 19.4613 43.6809 19.3141 43.6913 19.1633C43.7017 19.0125 43.6815 18.8612 43.6318 18.7184C43.6318 18.7184 43.3065 17.6336 42.3849 16.6097C41.4634 15.5857 39.8471 14.56 37.5199 14.56Z' fill='%23FBDCD2'/%3e%3cpath fill-rule='evenodd' clip-rule='evenodd' d='M49.28 28C49.28 39.7526 39.7526 49.28 28 49.28C16.2474 49.28 6.71997 39.7526 6.71997 28C6.71997 16.2474 16.2474 6.71997 28 6.71997C39.7526 6.71997 49.28 16.2474 49.28 28ZM13.6149 16.6097C14.5365 15.5857 16.1528 14.56 18.4799 14.56C20.8071 14.56 22.4234 15.5857 23.3449 16.6097C24.2665 17.6336 24.5918 18.7184 24.5918 18.7184C24.6415 18.8612 24.6617 19.0125 24.6513 19.1633C24.6409 19.3141 24.6001 19.4613 24.5313 19.5959C24.4625 19.7305 24.3672 19.8498 24.2511 19.9466C24.135 20.0434 24.0005 20.1157 23.8557 20.1591C23.7109 20.2025 23.5588 20.2162 23.4086 20.1993C23.2584 20.1824 23.1132 20.1353 22.9816 20.0608C22.8501 19.9863 22.735 19.8859 22.6433 19.7657C22.5517 19.6455 22.4852 19.5081 22.4481 19.3615C22.4481 19.3615 22.2707 18.7663 21.6803 18.1103C21.0898 17.4543 20.1848 16.8 18.4799 16.8C16.7751 16.8 15.8701 17.4543 15.2796 18.1103C14.6892 18.7663 14.5118 19.3615 14.5118 19.3615C14.4747 19.5081 14.4082 19.6455 14.3165 19.7657C14.2249 19.8859 14.1098 19.9863 13.9783 20.0608C13.8467 20.1353 13.7015 20.1824 13.5513 20.1993C13.4011 20.2162 13.249 20.2025 13.1042 20.1591C12.9594 20.1157 12.8249 20.0434 12.7088 19.9466C12.5927 19.8498 12.4974 19.7305 12.4286 19.5959C12.3598 19.4613 12.319 19.3141 12.3086 19.1633C12.2982 19.0125 12.3184 18.8612 12.3681 18.7184C12.3681 18.7184 12.6934 17.6336 13.6149 16.6097ZM32.6549 16.6097C33.5765 15.5857 35.1928 14.56 37.5199 14.56C39.8471 14.56 41.4634 15.5857 42.3849 16.6097C43.3065 17.6336 43.6318 18.7184 43.6318 18.7184C43.6815 18.8612 43.7017 19.0125 43.6913 19.1633C43.6809 19.3141 43.6401 19.4613 43.5713 19.5959C43.5025 19.7305 43.4072 19.8498 43.2911 19.9466C43.175 20.0434 43.0405 20.1157 42.8957 20.1591C42.7509 20.2025 42.5988 20.2162 42.4486 20.1993C42.2984 20.1824 42.1531 20.1353 42.0216 20.0608C41.8901 19.9863 41.775 19.8859 41.6833 19.7657C41.5916 19.6455 41.5252 19.5081 41.4881 19.3615C41.4881 19.3615 41.3107 18.7663 40.7203 18.1103C40.1298 17.4543 39.2248 16.8 37.5199 16.8C35.8151 16.8 34.9101 17.4543 34.3196 18.1103C33.7292 18.7663 33.5518 19.3615 33.5518 19.3615C33.5147 19.5081 33.4482 19.6455 33.3565 19.7657C33.2648 19.8859 33.1498 19.9863 33.0183 20.0608C32.8867 20.1353 32.7415 20.1824 32.5913 20.1993C32.4411 20.2162 32.289 20.2025 32.1442 20.1591C31.9994 20.1157 31.8649 20.0434 31.7488 19.9466C31.6327 19.8498 31.5374 19.7305 31.4686 19.5959C31.3998 19.4613 31.359 19.3141 31.3486 19.1633C31.3382 19.0125 31.3584 18.8612 31.4081 18.7184C31.4081 18.7184 31.7334 17.6336 32.6549 16.6097Z' fill='%23FBDCD2'/%3e%3cpath fill-rule='evenodd' clip-rule='evenodd' d='M28 49.28C39.7527 49.28 49.28 39.7526 49.28 28C49.28 16.2474 39.7527 6.71998 28 6.71998C16.2474 6.71998 6.72004 16.2474 6.72004 28C6.72004 39.7526 16.2474 49.28 28 49.28ZM28 51.52C40.9898 51.52 51.52 40.9897 51.52 28C51.52 15.0102 40.9898 4.47998 28 4.47998C15.0103 4.47998 4.48004 15.0102 4.48004 28C4.48004 40.9897 15.0103 51.52 28 51.52Z' fill='%234F4F4F'/%3e%3cpath fill-rule='evenodd' clip-rule='evenodd' d='M14.8881 25.4286C15.0981 25.2186 15.383 25.1006 15.68 25.1005H40.32C40.617 25.1006 40.9019 25.2186 41.1119 25.4286C41.322 25.6386 41.44 25.9235 41.44 26.2205C41.44 30.8872 40.2941 34.6837 38.0691 38.5405C35.844 42.3973 32.4 45.2605 28 45.2605C23.6 45.2605 20.156 42.3973 17.9309 38.5405C15.7059 34.6837 14.56 30.8872 14.56 26.2205C14.56 25.9235 14.678 25.6386 14.8881 25.4286ZM16.9378 27.3405H39.0622C38.9634 29.6241 38.6041 31.5853 37.9717 33.436C35.4843 32.2322 31.9372 31.4794 28 31.4794C24.0628 31.4794 20.5157 32.2322 18.0283 33.436C17.3959 31.5853 17.0366 29.6242 16.9378 27.3405ZM18.8715 35.5169C19.1692 36.152 19.5015 36.7834 19.8691 37.4205C21.844 40.8437 24.56 43.0205 28 43.0205C31.44 43.0205 34.156 40.8437 36.1309 37.4205C36.4985 36.7834 36.8308 36.152 37.1285 35.5169C36.9978 35.4518 36.8597 35.3863 36.7138 35.3205C34.599 34.3671 31.5203 33.7194 28 33.7194C24.4798 33.7194 21.401 34.3671 19.2862 35.3205C19.1403 35.3863 19.0022 35.4518 18.8715 35.5169Z' fill='%234F4F4F'/%3e%3cpath d='M39.0622 27.3405H16.9378C17.0366 29.6241 17.3959 31.5853 18.0283 33.436C20.5157 32.2322 24.0628 31.4794 28 31.4794C31.9372 31.4794 35.4843 32.2322 37.9717 33.436C38.6041 31.5853 38.9634 29.6241 39.0622 27.3405Z' fill='%23F4BACB'/%3e%3cpath d='M18.8715 35.5169C19.1692 36.152 19.5015 36.7834 19.8691 37.4205C21.844 40.8437 24.56 43.0205 28 43.0205C31.44 43.0205 34.156 40.8437 36.1309 37.4205C36.4985 36.7834 36.8308 36.152 37.1285 35.5169C36.9978 35.4518 36.8597 35.3863 36.7138 35.3205C34.599 34.3671 31.5203 33.7194 28 33.7194C24.4798 33.7194 21.401 34.3671 19.2862 35.3205C19.1403 35.3863 19.0022 35.4518 18.8715 35.5169Z' fill='%23ED8FAA'/%3e%3cpath d='M18.48 15.68C16.1529 15.68 14.5365 16.7057 13.615 17.7297C12.6934 18.7537 12.3681 19.8384 12.3681 19.8384C12.3184 19.9812 12.2982 20.1326 12.3086 20.2834C12.319 20.4342 12.3599 20.5813 12.4286 20.7159C12.4974 20.8505 12.5927 20.9698 12.7088 21.0666C12.8249 21.1634 12.9594 21.2357 13.1042 21.2791C13.249 21.3226 13.4011 21.3362 13.5513 21.3194C13.7015 21.3025 13.8468 21.2553 13.9783 21.1808C14.1098 21.1063 14.2249 21.0059 14.3166 20.8857C14.4083 20.7656 14.4747 20.6281 14.5118 20.4816C14.5118 20.4816 14.6892 19.8863 15.2796 19.2303C15.8701 18.5743 16.7751 17.92 18.48 17.92C20.1849 17.92 21.0899 18.5743 21.6803 19.2303C22.2707 19.8863 22.4481 20.4816 22.4481 20.4816C22.4852 20.6281 22.5517 20.7656 22.6434 20.8857C22.7351 21.0059 22.8501 21.1063 22.9817 21.1808C23.1132 21.2553 23.2584 21.3025 23.4086 21.3194C23.5588 21.3362 23.7109 21.3226 23.8557 21.2791C24.0005 21.2357 24.135 21.1634 24.2511 21.0666C24.3672 20.9698 24.4625 20.8505 24.5313 20.7159C24.6001 20.5813 24.6409 20.4342 24.6513 20.2834C24.6617 20.1326 24.6415 19.9812 24.5918 19.8384C24.5918 19.8384 24.2665 18.7537 23.345 17.7297C22.4234 16.7057 20.8071 15.68 18.48 15.68ZM37.52 15.68C35.1929 15.68 33.5765 16.7057 32.655 17.7297C31.7334 18.7537 31.4081 19.8384 31.4081 19.8384C31.3584 19.9812 31.3382 20.1326 31.3486 20.2834C31.359 20.4342 31.3999 20.5813 31.4686 20.7159C31.5374 20.8505 31.6327 20.9698 31.7488 21.0666C31.8649 21.1634 31.9994 21.2357 32.1442 21.2791C32.289 21.3226 32.4411 21.3362 32.5913 21.3194C32.7415 21.3025 32.8868 21.2553 33.0183 21.1808C33.1498 21.1063 33.2649 21.0059 33.3566 20.8857C33.4483 20.7656 33.5147 20.6281 33.5518 20.4816C33.5518 20.4816 33.7292 19.8863 34.3196 19.2303C34.9101 18.5743 35.8151 17.92 37.52 17.92C39.2248 17.92 40.1299 18.5743 40.7203 19.2303C41.3107 19.8863 41.4881 20.4816 41.4881 20.4816C41.5252 20.6281 41.5917 20.7656 41.6834 20.8857C41.7751 21.0059 41.8901 21.1063 42.0216 21.1808C42.1532 21.2553 42.2984 21.3025 42.4486 21.3194C42.5988 21.3362 42.7509 21.3226 42.8957 21.2791C43.0405 21.2357 43.175 21.1634 43.2911 21.0666C43.4072 20.9698 43.5025 20.8505 43.5713 20.7159C43.6401 20.5813 43.6809 20.4342 43.6913 20.2834C43.7017 20.1326 43.6815 19.9812 43.6318 19.8384C43.6318 19.8384 43.3065 18.7537 42.385 17.7297C41.4634 16.7057 39.8471 15.68 37.52 15.68Z' fill='%234F4F4F'/%3e%3c/svg%3e")
            }

            .reactions-list .reaction-item .reaction[data-name="surprised"] {
                background-image: url("data:image/svg+xml;charset=UTF-8,%3csvg width='56' height='56' viewBox='0 0 56 56' fill='none' xmlns='http://www.w3.org/2000/svg'%3e%3cpath fill-rule='evenodd' clip-rule='evenodd' d='M28 49.28C39.7526 49.28 49.28 39.7526 49.28 28C49.28 16.2474 39.7526 6.71998 28 6.71998C16.2474 6.71998 6.71998 16.2474 6.71998 28C6.71998 39.7526 16.2474 49.28 28 49.28ZM28 51.52C40.9897 51.52 51.52 40.9897 51.52 28C51.52 15.0102 40.9897 4.47998 28 4.47998C15.0102 4.47998 4.47998 15.0102 4.47998 28C4.47998 40.9897 15.0102 51.52 28 51.52Z' fill='%234F4F4F'/%3e%3cpath d='M20.1622 11.6744C17.3839 11.6744 15.3891 13.3518 14.1728 14.9032C12.9565 16.4546 12.39 18.0072 12.39 18.0072C12.3391 18.1453 12.316 18.292 12.3218 18.4389C12.3277 18.5859 12.3624 18.7303 12.4241 18.8639C12.4857 18.9974 12.5731 19.1175 12.6811 19.2173C12.7892 19.3171 12.9159 19.3947 13.0539 19.4455C13.1919 19.4964 13.3386 19.5195 13.4856 19.5137C13.6326 19.5078 13.777 19.4731 13.9105 19.4114C14.0441 19.3498 14.1642 19.2624 14.264 19.1544C14.3638 19.0463 14.4413 18.9196 14.4922 18.7816C14.4922 18.7816 14.957 17.5343 15.9359 16.2857C16.9148 15.0371 18.2813 13.9144 20.1622 13.9144C22.0038 13.9144 22.914 14.7588 22.914 14.7588C23.0244 14.8562 23.1528 14.9309 23.292 14.9787C23.4311 15.0265 23.5784 15.0463 23.7252 15.0372C23.8721 15.0281 24.0157 14.9901 24.1479 14.9254C24.2801 14.8608 24.3983 14.7707 24.4957 14.6604C24.5931 14.5501 24.6678 14.4217 24.7155 14.2825C24.7633 14.1433 24.7832 13.9961 24.774 13.8492C24.7649 13.7023 24.7269 13.5587 24.6622 13.4265C24.5976 13.2943 24.5075 13.1762 24.3972 13.0788C24.3972 13.0788 22.7602 11.6744 20.1622 11.6744ZM35.84 11.6744C33.2419 11.6744 31.605 13.0788 31.605 13.0788C31.4905 13.1748 31.3964 13.2928 31.3282 13.4257C31.26 13.5586 31.2191 13.7039 31.2079 13.8529C31.1966 14.0019 31.2153 14.1516 31.2629 14.2932C31.3104 14.4349 31.3858 14.5656 31.4846 14.6777C31.5834 14.7898 31.7036 14.8809 31.8382 14.9459C31.9727 15.0108 32.1189 15.0481 32.2682 15.0557C32.4174 15.0632 32.5666 15.0409 32.707 14.9899C32.8475 14.9389 32.9763 14.8603 33.0859 14.7588C33.0859 14.7588 33.9984 13.9144 35.84 13.9144C37.7195 13.9144 39.0851 15.037 40.064 16.2857C41.043 17.5344 41.5078 18.7816 41.5078 18.7816C41.5586 18.9196 41.6362 19.0463 41.736 19.1544C41.8358 19.2624 41.9559 19.3498 42.0894 19.4114C42.223 19.4731 42.3674 19.5078 42.5144 19.5137C42.6614 19.5195 42.808 19.4964 42.9461 19.4455C43.0841 19.3947 43.2108 19.3171 43.3188 19.2173C43.4269 19.1175 43.5143 18.9974 43.5759 18.8639C43.6376 18.7303 43.6723 18.5859 43.6781 18.4389C43.684 18.292 43.6608 18.1453 43.61 18.0072C43.61 18.0072 43.0434 16.4545 41.8272 14.9032C40.6109 13.3519 38.6174 11.6744 35.84 11.6744ZM20.16 18.3944C19.4174 18.3944 18.7052 18.8664 18.1801 19.7066C17.655 20.5468 17.36 21.6863 17.36 22.8744C17.36 24.0626 17.655 25.2021 18.1801 26.0423C18.7052 26.8824 19.4174 27.3544 20.16 27.3544C20.5277 27.3544 20.8918 27.2385 21.2315 27.0134C21.5712 26.7883 21.8799 26.4583 22.1399 26.0423C22.3999 25.6263 22.6061 25.1324 22.7468 24.5888C22.8876 24.0453 22.96 23.4627 22.96 22.8744C22.96 22.2861 22.8876 21.7035 22.7468 21.16C22.6061 20.6165 22.3999 20.1226 22.1399 19.7066C21.8799 19.2906 21.5712 18.9606 21.2315 18.7354C20.8918 18.5103 20.5277 18.3944 20.16 18.3944ZM35.84 18.3944C35.0974 18.3944 34.3852 18.8664 33.8601 19.7066C33.335 20.5468 33.04 21.6863 33.04 22.8744C33.04 24.0626 33.335 25.2021 33.8601 26.0423C34.3852 26.8824 35.0974 27.3544 35.84 27.3544C36.5826 27.3544 37.2948 26.8824 37.8199 26.0423C38.345 25.2021 38.64 24.0626 38.64 22.8744C38.64 21.6863 38.345 20.5468 37.8199 19.7066C37.2948 18.8664 36.5826 18.3944 35.84 18.3944Z' fill='%234F4F4F'/%3e%3cpath fill-rule='evenodd' clip-rule='evenodd' d='M28 28.5549C25.7413 28.5549 23.9392 29.8178 22.855 31.5255C21.7707 33.2332 21.28 35.3771 21.28 37.5149C21.28 39.6527 21.7707 41.7966 22.855 43.5043C23.9392 45.212 25.7413 46.4749 28 46.4749C29.9701 46.4749 31.7015 45.3479 32.8715 43.7099C34.0416 42.0719 34.72 39.896 34.72 37.5149C34.72 35.1338 34.0416 32.9579 32.8715 31.3199C31.7015 29.6819 29.9701 28.5549 28 28.5549ZM31.0494 32.6215C30.1926 31.422 29.1227 30.7949 28 30.7949C26.5253 30.7949 25.5274 31.492 24.745 32.7243C23.9626 33.9566 23.52 35.7327 23.52 37.5149C23.52 39.2971 23.9626 41.0732 24.745 42.3055C25.5274 43.5378 26.5253 44.2349 28 44.2349C29.1227 44.2349 30.1926 43.6078 31.0494 42.4083C31.9061 41.2088 32.48 39.4637 32.48 37.5149C32.48 35.5661 31.9061 33.821 31.0494 32.6215Z' fill='%234F4F4F'/%3e%3cpath d='M20.1622 11.6744C17.3838 11.6744 15.3891 13.3518 14.1728 14.9032C12.9565 16.4546 12.39 18.0072 12.39 18.0072C12.3391 18.1453 12.316 18.292 12.3218 18.4389C12.3277 18.5859 12.3624 18.7303 12.424 18.8639C12.4857 18.9974 12.573 19.1175 12.6811 19.2173C12.7892 19.3171 12.9158 19.3947 13.0539 19.4455C13.1919 19.4964 13.3386 19.5195 13.4856 19.5137C13.6326 19.5078 13.777 19.4731 13.9105 19.4114C14.0441 19.3498 14.1642 19.2624 14.264 19.1544C14.3638 19.0463 14.4413 18.9196 14.4922 18.7816C14.4922 18.7816 14.957 17.5343 15.9359 16.2857C16.9148 15.0371 18.2813 13.9144 20.1622 13.9144C22.0038 13.9144 22.914 14.7588 22.914 14.7588C23.0243 14.8562 23.1528 14.9309 23.2919 14.9787C23.4311 15.0264 23.5784 15.0463 23.7252 15.0372C23.8721 15.0281 24.0157 14.9901 24.1479 14.9254C24.2801 14.8608 24.3983 14.7707 24.4957 14.6604C24.5931 14.5501 24.6678 14.4217 24.7155 14.2825C24.7633 14.1433 24.7831 13.9961 24.774 13.8492C24.7649 13.7023 24.7269 13.5587 24.6622 13.4265C24.5975 13.2943 24.5075 13.1762 24.3972 13.0788C24.3972 13.0788 22.7602 11.6744 20.1622 11.6744ZM35.84 11.6744C33.2419 11.6744 31.605 13.0788 31.605 13.0788C31.4905 13.1748 31.3964 13.2928 31.3282 13.4257C31.26 13.5586 31.2191 13.7039 31.2079 13.8529C31.1966 14.0018 31.2153 14.1516 31.2629 14.2932C31.3104 14.4349 31.3858 14.5656 31.4846 14.6777C31.5834 14.7898 31.7036 14.8809 31.8381 14.9458C31.9727 15.0108 32.1189 15.0481 32.2681 15.0557C32.4174 15.0632 32.5666 15.0408 32.707 14.9899C32.8475 14.9389 32.9763 14.8603 33.0859 14.7588C33.0859 14.7588 33.9984 13.9144 35.84 13.9144C37.7195 13.9144 39.0851 15.037 40.064 16.2857C41.043 17.5343 41.5078 18.7816 41.5078 18.7816C41.5586 18.9196 41.6362 19.0463 41.736 19.1544C41.8358 19.2624 41.9559 19.3498 42.0894 19.4114C42.223 19.4731 42.3674 19.5078 42.5144 19.5137C42.6613 19.5195 42.808 19.4964 42.9461 19.4455C43.0841 19.3947 43.2108 19.3171 43.3188 19.2173C43.4269 19.1175 43.5142 18.9974 43.5759 18.8639C43.6375 18.7303 43.6723 18.5859 43.6781 18.4389C43.684 18.292 43.6608 18.1453 43.61 18.0072C43.61 18.0072 43.0434 16.4545 41.8272 14.9032C40.6109 13.3518 38.6174 11.6744 35.84 11.6744ZM20.16 18.3944C19.4174 18.3944 18.7052 18.8664 18.1801 19.7066C17.655 20.5467 17.36 21.6862 17.36 22.8744C17.36 24.0626 17.655 25.2021 18.1801 26.0422C18.7052 26.8824 19.4174 27.3544 20.16 27.3544C20.5277 27.3544 20.8918 27.2385 21.2315 27.0134C21.5712 26.7883 21.8799 26.4583 22.1399 26.0422C22.3999 25.6262 22.6061 25.1324 22.7468 24.5888C22.8875 24.0453 22.96 23.4627 22.96 22.8744C22.96 22.2861 22.8875 21.7035 22.7468 21.16C22.6061 20.6165 22.3999 20.1226 22.1399 19.7066C21.8799 19.2906 21.5712 18.9606 21.2315 18.7354C20.8918 18.5103 20.5277 18.3944 20.16 18.3944ZM35.84 18.3944C35.0974 18.3944 34.3852 18.8664 33.8601 19.7066C33.335 20.5467 33.04 21.6862 33.04 22.8744C33.04 24.0626 33.335 25.2021 33.8601 26.0422C34.3852 26.8824 35.0974 27.3544 35.84 27.3544C36.5826 27.3544 37.2948 26.8824 37.8199 26.0422C38.345 25.2021 38.64 24.0626 38.64 22.8744C38.64 21.6862 38.345 20.5467 37.8199 19.7066C37.2948 18.8664 36.5826 18.3944 35.84 18.3944Z' fill='%234F4F4F'/%3e%3cpath fill-rule='evenodd' clip-rule='evenodd' d='M49.28 28C49.28 39.7526 39.7526 49.28 28 49.28C16.2474 49.28 6.71997 39.7526 6.71997 28C6.71997 16.2474 16.2474 6.71997 28 6.71997C39.7526 6.71997 49.28 16.2474 49.28 28ZM14.1728 14.9032C15.3891 13.3518 17.3838 11.6744 20.1622 11.6744C22.7602 11.6744 24.3972 13.0788 24.3972 13.0788C24.5075 13.1762 24.5975 13.2943 24.6622 13.4265C24.7269 13.5587 24.7649 13.7023 24.774 13.8492C24.7831 13.9961 24.7633 14.1433 24.7155 14.2825C24.6678 14.4217 24.5931 14.5501 24.4957 14.6604C24.3983 14.7707 24.2801 14.8608 24.1479 14.9254C24.0157 14.9901 23.8721 15.0281 23.7252 15.0372C23.5784 15.0463 23.4311 15.0264 23.2919 14.9787C23.1528 14.9309 23.0243 14.8562 22.914 14.7588C22.914 14.7588 22.0038 13.9144 20.1622 13.9144C18.2813 13.9144 16.9148 15.0371 15.9359 16.2857C14.957 17.5343 14.4922 18.7816 14.4922 18.7816C14.4413 18.9196 14.3638 19.0463 14.264 19.1544C14.1642 19.2624 14.0441 19.3498 13.9105 19.4114C13.777 19.4731 13.6326 19.5078 13.4856 19.5137C13.3386 19.5195 13.1919 19.4964 13.0539 19.4455C12.9158 19.3947 12.7892 19.3171 12.6811 19.2173C12.573 19.1175 12.4857 18.9974 12.424 18.8639C12.3624 18.7303 12.3277 18.5859 12.3218 18.4389C12.316 18.292 12.3391 18.1453 12.39 18.0072C12.39 18.0072 12.9565 16.4546 14.1728 14.9032ZM31.605 13.0788C31.605 13.0788 33.2419 11.6744 35.84 11.6744C38.6174 11.6744 40.6109 13.3518 41.8272 14.9032C43.0434 16.4545 43.61 18.0072 43.61 18.0072C43.6608 18.1453 43.684 18.292 43.6781 18.4389C43.6723 18.5859 43.6375 18.7303 43.5759 18.8639C43.5142 18.9974 43.4269 19.1175 43.3188 19.2173C43.2108 19.3171 43.0841 19.3947 42.9461 19.4455C42.808 19.4964 42.6613 19.5195 42.5144 19.5137C42.3674 19.5078 42.223 19.4731 42.0894 19.4114C41.9559 19.3498 41.8358 19.2624 41.736 19.1544C41.6362 19.0463 41.5586 18.9196 41.5078 18.7816C41.5078 18.7816 41.043 17.5343 40.064 16.2857C39.0851 15.037 37.7195 13.9144 35.84 13.9144C33.9984 13.9144 33.0859 14.7588 33.0859 14.7588C32.9763 14.8603 32.8475 14.9389 32.707 14.9899C32.5666 15.0408 32.4174 15.0632 32.2681 15.0557C32.1189 15.0481 31.9727 15.0108 31.8381 14.9458C31.7036 14.8809 31.5834 14.7898 31.4846 14.6777C31.3858 14.5656 31.3104 14.4349 31.2629 14.2932C31.2153 14.1516 31.1966 14.0018 31.2079 13.8529C31.2191 13.7039 31.26 13.5586 31.3282 13.4257C31.3964 13.2928 31.4905 13.1748 31.605 13.0788ZM18.1801 19.7066C18.7052 18.8664 19.4174 18.3944 20.16 18.3944C20.5277 18.3944 20.8918 18.5103 21.2315 18.7354C21.5712 18.9606 21.8799 19.2906 22.1399 19.7066C22.3999 20.1226 22.6061 20.6165 22.7468 21.16C22.8875 21.7035 22.96 22.2861 22.96 22.8744C22.96 23.4627 22.8875 24.0453 22.7468 24.5888C22.6061 25.1324 22.3999 25.6262 22.1399 26.0422C21.8799 26.4583 21.5712 26.7883 21.2315 27.0134C20.8918 27.2385 20.5277 27.3544 20.16 27.3544C19.4174 27.3544 18.7052 26.8824 18.1801 26.0422C17.655 25.2021 17.36 24.0626 17.36 22.8744C17.36 21.6862 17.655 20.5467 18.1801 19.7066ZM33.8601 19.7066C34.3852 18.8664 35.0974 18.3944 35.84 18.3944C36.5826 18.3944 37.2948 18.8664 37.8199 19.7066C38.345 20.5467 38.64 21.6862 38.64 22.8744C38.64 24.0626 38.345 25.2021 37.8199 26.0422C37.2948 26.8824 36.5826 27.3544 35.84 27.3544C35.0974 27.3544 34.3852 26.8824 33.8601 26.0422C33.335 25.2021 33.04 24.0626 33.04 22.8744C33.04 21.6862 33.335 20.5467 33.8601 19.7066ZM22.855 31.5255C23.9392 29.8178 25.7413 28.5549 28 28.5549C29.9701 28.5549 31.7015 29.6819 32.8715 31.3199C34.0415 32.9579 34.72 35.1338 34.72 37.5149C34.72 39.896 34.0415 42.0719 32.8715 43.7099C31.7015 45.3479 29.9701 46.4749 28 46.4749C25.7413 46.4749 23.9392 45.212 22.855 43.5043C21.7707 41.7966 21.28 39.6527 21.28 37.5149C21.28 35.3771 21.7707 33.2332 22.855 31.5255Z' fill='%23FBDCD2'/%3e%3cpath d='M28 30.7949C29.1227 30.7949 30.1926 31.422 31.0494 32.6215C31.9062 33.821 32.48 35.5661 32.48 37.5149C32.48 39.4637 31.9062 41.2089 31.0494 42.4084C30.1926 43.6079 29.1227 44.2349 28 44.2349C26.5254 44.2349 25.5274 43.5379 24.745 42.3055C23.9626 41.0732 23.52 39.2971 23.52 37.5149C23.52 35.7327 23.9626 33.9566 24.745 32.7243C25.5274 31.492 26.5254 30.7949 28 30.7949Z' fill='%23ED8FAA'/%3e%3c/svg%3e")
            }

            .reactions-list .reaction-item .reaction[data-name="sad"] {
                background-image: url("data:image/svg+xml;charset=UTF-8,%3csvg width='56' height='56' viewBox='0 0 56 56' fill='none' xmlns='http://www.w3.org/2000/svg'%3e%3cpath fill-rule='evenodd' clip-rule='evenodd' d='M49.28 28C49.28 39.7526 39.7526 49.28 28 49.28C16.2474 49.28 6.71997 39.7526 6.71997 28C6.71997 16.2474 16.2474 6.71997 28 6.71997C39.7526 6.71997 49.28 16.2474 49.28 28Z' fill='%23FBDCD2'/%3e%3cpath fill-rule='evenodd' clip-rule='evenodd' d='M28 49.28C39.7527 49.28 49.28 39.7526 49.28 28C49.28 16.2474 39.7527 6.71998 28 6.71998C16.2474 6.71998 6.72004 16.2474 6.72004 28C6.72004 39.7526 16.2474 49.28 28 49.28ZM28 51.52C40.9898 51.52 51.52 40.9897 51.52 28C51.52 15.0102 40.9898 4.47998 28 4.47998C15.0103 4.47998 4.48004 15.0102 4.48004 28C4.48004 40.9897 15.0103 51.52 28 51.52Z' fill='%234F4F4F'/%3e%3cpath d='M16.6642 21.1441C17.2943 20.514 18.1489 20.16 19.0401 20.16C19.9312 20.16 20.7858 20.514 21.4159 21.1441C22.0461 21.7742 22.4001 22.6288 22.4001 23.52C22.4001 24.4111 22.0461 25.2657 21.4159 25.8959C20.7858 26.526 19.9312 26.88 19.0401 26.88C18.1489 26.88 17.2943 26.526 16.6642 25.8959C16.034 25.2657 15.6801 24.4111 15.6801 23.52C15.6801 22.6288 16.034 21.7742 16.6642 21.1441Z' fill='%234F4F4F'/%3e%3cpath d='M34.5842 21.1441C35.2143 20.514 36.0689 20.16 36.9601 20.16C37.8512 20.16 38.7058 20.514 39.3359 21.1441C39.9661 21.7742 40.3201 22.6288 40.3201 23.52C40.3201 24.4111 39.9661 25.2657 39.3359 25.8959C38.7058 26.526 37.8512 26.88 36.9601 26.88C36.0689 26.88 35.2143 26.526 34.5842 25.8959C33.9541 25.2657 33.6001 24.4111 33.6001 23.52C33.6001 22.6288 33.9541 21.7742 34.5842 21.1441Z' fill='%234F4F4F'/%3e%3cpath d='M16.0082 37.2881C16.0082 37.2881 20.7823 32.48 28.0001 32.48C35.2178 32.48 39.9919 37.2881 39.9919 37.2881C40.0994 37.3913 40.1852 37.5149 40.2444 37.6517C40.3035 37.7885 40.3347 37.9357 40.3362 38.0847C40.3377 38.2337 40.3095 38.3815 40.2532 38.5195C40.1969 38.6574 40.1136 38.7828 40.0082 38.8881C39.9028 38.9935 39.7775 39.0768 39.6396 39.1331C39.5016 39.1894 39.3538 39.2177 39.2048 39.2161C39.0558 39.2146 38.9086 39.1834 38.7718 39.1243C38.635 39.0652 38.5114 38.9793 38.4082 38.8718C38.4082 38.8718 34.2223 34.72 28.0001 34.72C21.7778 34.72 17.5919 38.8718 17.5919 38.8718C17.4887 38.9793 17.3651 39.0652 17.2283 39.1243C17.0915 39.1834 16.9443 39.2146 16.7953 39.2161C16.6463 39.2177 16.4985 39.1894 16.3606 39.1331C16.2226 39.0768 16.0973 38.9935 15.9919 38.8881C15.8865 38.7828 15.8032 38.6574 15.7469 38.5195C15.6906 38.3815 15.6624 38.2337 15.6639 38.0847C15.6654 37.9357 15.6966 37.7885 15.7557 37.6517C15.8149 37.5149 15.9007 37.3913 16.0082 37.2881Z' fill='%234F4F4F'/%3e%3c/svg%3e")
            }

        .reactions-list .reaction-item .label {
            position: absolute;
            top: -48px;
            left: 50%;
            -webkit-transform: translate(-50%, 0);
            transform: translate(-50%, 0);
            background: rgba(0,0,0,0.7);
            border-radius: 16px;
            padding: 0 10px;
            line-height: 30px;
            color: rgba(255,255,255,0.87);
            font-size: 14px;
            display: none;
            text-align: center
        }

        .reactions-list .reaction-item:hover {
            margin: 0 5px
        }
.reactions-container {
    opacity: 0;
    visibility: hidden;
    -webkit-transition-duration: 300ms;
    transition-duration: 300ms;
    -webkit-transition-property: all;
    transition-property: all;
    -webkit-transition-timing-function: cubic-bezier(0.7, 1, 0.7, 1);
    transition-timing-function: cubic-bezier(0.7, 1, 0.7, 1);
    position: absolute;
    top: -40px;
    z-index: 4
}

    .reactions-container.show {
        top: -52px;
        opacity: 1;
        visibility: visible
    }

    .reactions-container .reactions-menu[data-selected="like"] .reaction[data-name="like"], .reactions-container .reactions-menu[data-selected="fun"] .reaction[data-name="fun"], .reactions-container .reactions-menu[data-selected="surprised"] .reaction[data-name="surprised"], .reactions-container .reactions-menu[data-selected="sad"] .reaction[data-name="sad"] {
        -webkit-transform: translateY(-8px) scale(1.5);
        transform: translateY(-8px) scale(1.5)
    }

    .reactions-container .reactions-menu[data-selected="like"] .reaction:not([data-name="like"]), .reactions-container .reactions-menu[data-selected="fun"] .reaction:not([data-name="fun"]), .reactions-container .reactions-menu[data-selected="surprised"] .reaction:not([data-name="surprised"]), .reactions-container .reactions-menu[data-selected="sad"] .reaction:not([data-name="sad"]) {
        -webkit-transform: translateY(0px) scale(0.875);
        transform: translateY(0px) scale(0.875)
    }

    .reactions-container .reactions-menu[data-selected="surprised"] .reaction[data-name="surprised"] + span.label {
        width: 92px
    }

    .reactions-container .reactions-menu[data-selected="like"] .reaction[data-name="like"] + span.label, .reactions-container .reactions-menu[data-selected="fun"] .reaction[data-name="fun"] + span.label, .reactions-container .reactions-menu[data-selected="surprised"] .reaction[data-name="surprised"] + span.label, .reactions-container .reactions-menu[data-selected="sad"] .reaction[data-name="sad"] + span.label {
        display: block
    }
#list_comment .ic {
    width: 15px;
    height: 15px;
    background: url("images/graphics/icon_vne.png") no-repeat;
    display: inline-block;
    vertical-align: middle;
    margin-top: -2px;
    font-size: 0
}
.comment_item .block_like_web {
    float: left;
    text-align: left;
    padding: 0;
    font-size: 14px;
    position: relative;
    margin-top: 12px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center
}

    .comment_item .block_like_web a {
        font-size: 14px;
        color: #757575
    }

        .comment_item .block_like_web a .ic-reply {
            margin: -4px -2px 0 0;
            display: inline-block;
            vertical-align: middle
        }

    .comment_item .block_like_web .share_cmt_fb {
        position: relative;
        cursor: pointer;
        font-size: 14px;
        color: #9F9F9F;
        margin-right: 24px;
        display: none
    }

        .comment_item .block_like_web .share_cmt_fb .ic {
            font-size: 8px
        }

        .comment_item .block_like_web .share_cmt_fb .block_share_cmt_fb {
            position: absolute;
            top: 20px;
            left: 0;
            background: #FFFFFF;
            border: 1px solid #E5E5E5;
            -webkit-box-sizing: border-box;
            box-sizing: border-box;
            -webkit-box-shadow: 0px 2px 8px rgba(0,0,0,0.1);
            box-shadow: 0px 2px 8px rgba(0,0,0,0.1);
            border-radius: 3px
        }

            .comment_item .block_like_web .share_cmt_fb .block_share_cmt_fb a {
                display: inline-block
            }

        .comment_item .block_like_web .share_cmt_fb:hover {
            color: #C92A57
        }

    .comment_item .block_like_web .block_share_cmt_fb {
        background: #fff;
        position: absolute;
        top: 26px;
        right: 0;
        text-align: center;
        width: 67px;
        z-index: 21
    }

        .comment_item .block_like_web .block_share_cmt_fb .item_social {
            float: left;
            margin: 0;
            line-height: 15px !important;
            border-radius: 0;
            padding: 8px;
            width: auto;
            height: auto;
            background: #fff !important
        }

        .comment_item .block_like_web .block_share_cmt_fb .item_social .ic {
            display: inline-block !important;
            margin-top: 0 !important
        }

        .comment_item .block_like_web .block_share_cmt_fb .item_social .ic.ic-facebook {
            width: 16px !important;
            height: 16px !important;
            background: url(images/graphics/Facebook-Normal.svg) no-repeat 0 0 !important
        }

        .comment_item .block_like_web .block_share_cmt_fb .item_social .ic.ic-twitter {
            width: 16px !important;
            height: 16px !important;
            background: url(images/graphics/Twitter-Normal.svg) no-repeat 0 0 !important
        }

        .comment_item .block_like_web .block_share_cmt_fb .item_social:hover .ic-facebook {
            background: url(images/graphics/Facebook-Hover.svg) no-repeat 0 0 !important
        }

        .comment_item .block_like_web .block_share_cmt_fb .item_social:hover .ic-twitter {
            background: url(images/graphics/Twitter-Hover.svg) no-repeat 0 0 !important
        }

    .comment_item .block_like_web .time-com {
        font-size: 14px;
        color: #9F9F9F;
        margin-left: 35px;
    }
.reactions-wrap {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    margin-right: 24px
}

.comment_item .txt-name {
    color: #222;
    margin-right: 5px
}

    .comment_item .txt-name .nickname {
        color: #222;
        position: relative;
        font-weight: bold
    }

        .comment_item .txt-name .nickname:hover {
            color: #B42652
        }

            .comment_item .txt-name .nickname:hover .info_avata_cmt {
                opacity: 1;
                visibility: visible
            }

    .comment_item .txt-name.user-gocnhin .nickname {
        position: relative;
        padding-right: 22px
    }

        .comment_item .txt-name.user-gocnhin .nickname:after {
            width: 16px;
            height: 16px;
            content: '';
            background: url(images/graphics/icon-tick.svg) no-repeat 0 0;
            background-size: contain;
            position: absolute;
            top: 1px;
            right: 0
        }

    .comment_item .txt-name.user-no-myvne .nickname {
        color: #757575
    }

.reactions-wrap .control-action {
    position: relative;
    z-index: 1;
    margin-right: 0 !important
}

    .reactions-wrap .control-action.active .ic {
        display: none !important
    }

    .reactions-wrap .control-action:hover {
        padding: 20px 0 0 0;
        margin-top: -20px
    }

    .reactions-wrap .control-action[data-name="like"] .total_like, .reactions-wrap .control-action[data-name="fun"] .total_like, .reactions-wrap .control-action[data-name="surprised"] .total_like, .reactions-wrap .control-action[data-name="sad"] .total_like {
        font-weight: 700;
        color: #C92A57
    }

        .reactions-wrap .control-action[data-name="like"] .total_like .ic, .reactions-wrap .control-action[data-name="fun"] .total_like .ic, .reactions-wrap .control-action[data-name="surprised"] .total_like .ic, .reactions-wrap .control-action[data-name="sad"] .total_like .ic {
            display: none !important
        }

.reactions-wrap .reactions-total {
    margin-left: 24px;
    color: #757575;
    font-size: 14px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    cursor: pointer;
    position: relative
}

    .reactions-wrap .reactions-total .item {
        width: 20px;
        height: 20px;
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        -webkit-box-align: center;
        -ms-flex-align: center;
        align-items: center;
        -webkit-box-pack: center;
        -ms-flex-pack: center;
        justify-content: center;
        border-radius: 50%;
        background: #FAE4EA;
        position: relative;
        z-index: 3
    }

        .reactions-wrap .reactions-total .item img {
            width: 14px;
            height: 14px
        }

        .reactions-wrap .reactions-total .item:nth-child(2), .reactions-wrap .reactions-total .item:nth-child(3), .reactions-wrap .reactions-total .item:nth-child(4) {
            margin-left: -6px
        }

        .reactions-wrap .reactions-total .item:nth-child(2) {
            z-index: 2
        }

        .reactions-wrap .reactions-total .item:nth-child(3) {
            z-index: 1
        }

        .reactions-wrap .reactions-total .item:nth-child(4) {
            z-index: 0
        }

    .reactions-wrap .reactions-total a {
        color: #757575
    }

    .reactions-wrap .reactions-total .number {
        margin-left: 2px;
        margin-right: 0
    }

.reactions-wrap .reactions-detail {
    position: absolute;
    top: -54px;
    left: 50%;
    -webkit-transform: translate(-50%, 0);
    transform: translate(-50%, 0);
    z-index: 1;
    background: #FFFFFF;
    -webkit-box-shadow: 0px 2px 8px rgba(0,0,0,0.2);
    box-shadow: 0px 2px 8px rgba(0,0,0,0.2);
    border-radius: 40px;
    padding: 8px 4px;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    display: none
}

    .reactions-wrap .reactions-detail .item {
        font-weight: 700;
        font-size: 14px;
        color: #4F4F4F;
        background: #EFEFEF;
        border-radius: 25px;
        padding: 8px 0;
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        -webkit-box-align: center;
        -ms-flex-align: center;
        align-items: center;
        margin: 0 4px !important;
        width: auto;
        height: inherit;
        white-space: nowrap;
        min-width: 60px;
        -webkit-box-pack: center;
        -ms-flex-pack: center;
        justify-content: center
    }

        .reactions-wrap .reactions-detail .item .icons {
            width: 20px;
            height: 20px;
            margin-right: 4px;
            border-radius: 50%;
            display: -webkit-box;
            display: -ms-flexbox;
            display: flex;
            -webkit-box-align: center;
            -ms-flex-align: center;
            align-items: center;
            -webkit-box-pack: center;
            -ms-flex-pack: center;
            justify-content: center;
            background: #FAE4EA
        }

        .reactions-wrap .reactions-detail .item img {
            width: 14px;
            height: 14px
        }

.comment_item {
    margin-top: 16px;
    padding: 0;
    word-wrap: break-word
}

.user_status {
    position: relative;
    float: left
}

.comment_item .content-comment {
    padding: 0 0 0 48px;
    margin-top: 0px
}

.comment_item .content-comment:hover .block_like_web a.report-comment .txt-vp {
    opacity: 1;
    visibility: visible
}

.report-comment{
    margin-left: 26px
}

.comment_item .avata_coment img {
    width: 36px;
    height: 36px;
    border-radius: 50%
}

.comment_item.hight_light {
    background: #f8f8f8
}

.comment_item p {
    padding-bottom: 0;
    font: 400 16px arial;
    line-height: 150%;
    color: #4f4f4f
}


.comment_item span.left.txt_666.txt_14 {
    font-size: 12px;
    padding: 5px 0 0;
    white-space: normal
}

.comment_item .continue-reading {
    text-decoration: underline;
    text-underline-position: under;
    color: #9f9f9f
}

    .comment_item .continue-reading:hover {
        color: #C92A57
    }

.comment_item .avata_coment {
    margin: 0 12px 0 0;
    float: left;
    width: 36px;
    height: 36px;
    background: #E5E5E5;
    line-height: 36px;
    text-align: center;
    color: #949494 !important;
    font-weight: 400;
    text-transform: uppercase;
    font-size: 18px !important;
    font-family: arial;
    border-radius: 50%;
    position: relative
}

    .comment_item .avata_coment img {
        width: 36px;
        height: 36px;
        border-radius: 50%
    }

.comment_item a.link_thich {
    position: relative;
    padding-right: 0 !important;
    background: none !important;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center
}

    .comment_item a.link_thich .ic {
        color: #9f224e;
        font-size: 12px
    }

    .comment_item a.link_thich .ic-like {
        width: 14px !important;
        height: 14px !important;
        background: url(images/graphics/Thumb-Up-Normal.svg) no-repeat 0 0 !important;
        vertical-align: middle;
        margin: -1px 4px 0 !important
    }

    .comment_item a.link_thich.unlike {
        color: #C92A57 !important
    }

        .comment_item a.link_thich.unlike .ic {
            color: #858585 !important;
            display: inline-block;
            vertical-align: middle;
            -webkit-filter: grayscale(0);
            filter: grayscale(0);
            opacity: 1
        }

        .comment_item a.link_thich.unlike .ic-like {
            width: 14px !important;
            height: 14px !important;
            background: url(images/graphics/Thumb-Up-Active.svg) no-repeat 0 0 !important;
            display: inline-block;
            vertical-align: middle;
            opacity: 1
        }

    .comment_item a.link_thich::after {
        content: none !important
    }

.comment_item .input_comment {
    border: none
}

.icon_show_full_comment {
    display: inline-block;
    margin: 0 0 0 3px
}

    .icon_show_full_comment:hover .ic-plus-square {
        background-position: -487px -96px
    }


.box-area-input {
    background: #F7F7F7;
    border-radius: 4px;
    position: relative;
    padding: 10px 0 10px 0;
    border-left: 2px solid #8B1E44
}

    .box-area-input .block_input {
        background: #F7F7F7
    }

.input_comment textarea {
    font: 400 16px/150% arial;
    background: #fff;
    border: none;
    width: 100%;
    height: 28px !important;
    color: #4f4f4f !important;
    overflow: hidden;
    padding: 5px 37px 0 15px
}

.input_comment {
    background: none;
    border-top: none
}
.error_lk {
    display: none;
    width: 100%;
    float: left;
    font: 400 13px/15px arial;
    color: #9F224E;
    margin-top: 5px
}
.reply_input_comment .box_emoji {
    top: 17px;
    right: 10px
}

    .input_comment .block_relative {
        margin-top: 12px
    }

    .input_comment textarea.block_input {
        overflow: hidden;
        resize: none
    }

    .input_comment .scrollbar-inner > .scroll-element.scroll-y {
        right: 0
    }

    .input_comment .scroll-textarea {
        border: none
    }

        .input_comment .scroll-textarea > .scroll-content > textarea {
            padding: 5px 40px 0 15px;
            font-size: 16px;
            line-height: 150%
        }

    .input_comment .note-count-text {
        font: 400 13px arial;
        color: #757575;
        padding: 10px 15px 0 15px;
        width: 100%;
        float: left
    }

.error-mess {
    font: 400 13px/15px arial;
    color: #9F224E;
    margin-top: 5px
}

.user_status span {
    display: block
}

.title-detail {
    font-size: 32px;
    line-height: 150%;
    font-family: "Merriweather", serif;
    font-weight: bold;
    margin-bottom: 15px;
}

.thongbao_Khoa {
    float: left;
    width: 100%;
    height: 100%;
    padding-top: 10px;
    padding-bottom: 10px;
    border: 1px solid #e6e2e2;
}

.chuyenmuc_Khoa {
    height: 32px;
    margin-left: 5px;
    margin-right: 5px;
    border-bottom: 2px solid #0065ca;
}

#ctl09_ctl03_pnCactinkhac .chuyenmuc_CacTinKhac {
    margin-top: 10px;
    height: 32px;
    margin-left: 5px;
    margin-right: 5px;
    border-bottom: 2px solid #0065ca;
}

.chuyenmuc_Khoa .left a {
    float: left;
    font-size: 20px;
    font-family: "Open Sans Condensed", Arial, Helvetica, sans-serif;
    text-transform: uppercase;
    font-weight: bold;
    color: #0a0a0a;
    line-height: 22px;
    margin-left: 5px;
    text-decoration: none;
    background-color: transparent;
}

.chuyenmuc_CacTinKhac .left a {
    float: left;
    font-size: 20px;
    font-family: "Open Sans Condensed", Arial, Helvetica, sans-serif;
    text-transform: uppercase;
    font-weight: bold;
    color: #0a0a0a;
    line-height: 22px;
    margin-left: 5px;
    text-decoration: none;
    background-color: transparent;
}

.list_Khoa {
    float: left;
    margin-top: 15px;
    padding-left: 10px;
    padding-right: 10px;
    width: 100%;
}

    .list_Khoa > b {
        position: absolute;
        color: #6d6b6b;
        font-size: 8px;
        margin-top: 7px;
    }

.fa {
    padding-right: 10px;
}

.list_Khoa a {
    font-family: "Open Sans", Arial, Helvetica, sans-serif;
    font-size: 13px;
    line-height: 22px;
    color: #232323;
    margin-top: 5px;
}

.hr {
    border-bottom: 1px dashed #b9b8b8;
    width: 100%;
    margin-top: 6px;
    margin-left: 0px !important;
}

.list_Khoa p {
    display: block;
    padding: 5px 10px 5px 15px;
    color: #b2b2b2;
    margin-bottom: 5px;
    font-style: italic;
    font-family: "Open Sans", Arial, Helvetica, sans-serif;
    font-size: 13px;
    line-height: 22px;
}

p {
    margin: 0 0 10px;
}

.tieude {
    margin: 50px 0px 0px 10px;
    float: left;
}

    .tieude a {
        font-family: "Open Sans Condensed", Arial, Helvetica, sans-serif !important;
        font-weight: 700 !important;
        line-height: 35px !important;
        padding-bottom: 25px !important;
        color: #0065CA;
        font-size: 24px;
        text-transform: uppercase;
        margin-left: 0px;
    }

.other_news ul {
    width: 90%;
    clear: both;
    margin-bottom: 10px;
    margin-top: 0;
}

.other_news li {
    padding-top: 10px;
    padding-bottom: 10px;
    border-bottom: 1px dashed #000;
    margin: 0px;
    list-style: url(imgs/bullet.png);
}

    .other_news li a {
        font-family: "Open Sans", Arial, Helvetica, sans-serif !important;
        font-size: 14px;
        font-weight: 600;
        line-height: 22px;
        color: #454545;
        text-decoration: none;
    }

    .other_news li span {
        color: #777;
        font-family: "Open Sans", Arial, Helvetica, sans-serif;
        font-size: 13px;
        font-style: italic;
        font-weight: 400;
        line-height: 24px;
        text-decoration: none;
    }


.node.forum a {
    padding: 0;
    margin: 0;
}

.nodeList .node {
    zoom: 1;
    vertical-align: bottom;
}

.nodeInfo.forumNodeInfo.unread {
    background-color: #FFF;
    border-color: #d7edfc;
    border-bottom: 1px solid #d7edfc;
    padding: 0;
    overflow: hidden;
    zoom: 1;
    position: relative;
}

.nodeTitle a:hover {
    color: black !important;
    cursor: pointer;
}

.lastThreadTitle a,
username {
    color: rgb(23, 96, 147) !important;
}

.DateTime.muted.lastThreadDate {
    text-decoration: none;
    color: gray !important
}

ul {
    list-style-type: none; /* Alternative way to remove markers */
}

/* Specific way to remove markers for all list items */
li::marker {
    content: ""; /* Removes the default bullet or number */
}

.nodeIcon.hasGlyph {
    color: rgb(27, 109, 168);
    text-align: center;
    background: none;
    font-size: 26px;
    background-image: none !important;
    background-color: transparent !important;
    margin: 10px 10px 10px 4px;
    float: left;
    width: 44px;
    height: 34px;
}

.node .nodeText {
    margin-left: 58px;
    margin: 10px 0px 10px 56px;
    min-height: 34px;
}

.node .unread .nodeText .nodeTitle {
    font-weight: bold;
    color: rgb(8, 73, 126);
}

.node .nodeText .nodeTitle a {
    color: inherit;
    text-decoration: none;
}

.node .nodeStats {
    font-size: 12px;
    margin-top: 2px;
    overflow: hidden;
    zoom: 1;
}

.nodeStats dl {
    float: left;
    display: block;
    margin-right: 3px;
}

.pairsInline dt {
    display: inline;
    color: rgb(150, 150, 150);
}

.pairsInline dd {
    display: inline;
}

.node .nodeLastPost {
    border-bottom: 1px solid rgba(255, 255, 255, .25);
    font-size: 12px;
    background: #f0f7fc none;
    padding: 3px 10px;
    margin: 10px;
    border: 1px solid #d7edfc;
    border-radius: 3px;
    line-height: 14px;
    height: 38px;
    word-wrap: normal;
    overflow: hidden;
    width: 225px;
}

.node .nodeControls {
    right: 230px;
    display: none;
    position: absolute;
    top: 0;
    margin: 20px 0;
}

@media screen and (max-width: 991.9px){
    #ctl09_ctl03_pnCactinkhac {
        margin-top: 60px;
    }
}